body {
    margin: 0;
    font-family: 'Muli', sans-serif;
    min-height: 2000px; 
    position: relative;
}
/* --------------------------------------------------------------NAVBAR */

.containerone {
    display: flex;
    opacity: 0.95;
    justify-content: center;
    overflow: hidden;
    background-color: white;
    height: 80px;
    position: fixed; 
    top: 0; 
    width: 100%;
}

.menu{
    padding-top: 12px;
    margin-left: 400px;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-content: space-between;
    list-style-type: none;
}

.menu li a {
  padding: 40px;
  font-size: 12px;
  font-family: 'Muli', sans-serif;
  text-decoration: none;
  color: black;
}

.menu li a:hover {
  color: yellowgreen;
  text-decoration: none;
}

.formone {
  width: 200px;
  float: right;
  color: white;
  line-height: 70px;
  outline: none;
  margin-left: 80px;
}


/* ----------------------------------------------------------LANDING PAGE */

.containertwo {
  justify-content: center;
  font-family: "Black Heart";
  font-size: 60px;
  color: white;
  text-shadow: 5px 5px 5px black;
  display: flex;
  height: 60vh;
  width:100%;
  background-position-y: 30%;
  background-repeat:no-repeat;
  background-size: cover;
}

.containertwo h1 {
  padding-top: 150px;
  letter-spacing: 0px;
}

video#bgvideo {
  position: fixed;
  top: 40%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(img/6.jpg) no-repeat;
  }

  .containerthree {
    color: black;
    margin-left: -100px;
    height: 500px;
    background: white;
    list-style: none;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  
  .containerthree h2 {
    display: block;
    max-width: 400px;
    padding: 50px;
    font-size: 60px;
    color: black;
    font-family: 'Black Spirit';
    -webkit-transform: rotate(-2deg);
  }

  .three-one {
    display: block;
    justify-content: center;
    max-width: 600px;
  }


  .containerfour {
    color: black;
    font-size: 13px;
    height: 500px;
    padding: 50px;
    margin-left: -100px;
    padding-left: 200px;
    background: white;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .four-one {
    display: flex;
    justify-content: center;
    padding: 50px;
    color: black;
    width: 550px;
    margin: auto;
  }


  .four-two {
    margin:40px;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    float: left;
    background: white;
    height: 500px;
    width: 400px;
  }

  .four-two ul {
    text-align: left;
  }


  .four-three {
    margin:40px;
    display: flex;
    flex-direction:row;
    width: 400px;
    height: 500px;
    background-image: url("img/77.jpg");
    flex-wrap: wrap;
    float: left;
  }

  .four-three img {
    height: 400px;
    width: 300px;
  }

  .four-four {
    margin:40px;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    float: left;
    background: white;
    height: 500px;
    width: 400px;
    text-align: left;
    margin-left: -50px !important;
  }

  .four-four p {
    font-size: 50px;
    color: black;
    font-family: 'Black Spirit';
    -webkit-transform: rotate(-2deg);
  }

  .submitButton3{
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 40px;
    cursor: pointer;
    display: inline-block;
    font-family: 'Black Spirit';
    opacity: 1 ;
  }
  
  /* On mouse-over */
  .submitButton3:hover {
    opacity: 0.5 ;
    -webkit-transform: rotate(-2deg);
  }


/* --------------------------------------------------------FLOATING SIDEBAR */

.link-container {
  position: fixed;
  top: 400px;
  height: 380px;
  max-width: 160px;
  left: 20px;
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 5px #333;
  list-style-type: none;
}

.link-container a {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 12px;
  font-family: 'Muli', sans-serif;
  text-transform: uppercase;
}

.link-container a:hover {
  color: yellowgreen;
  text-decoration: none;
}

.sticky-links {
  position: fixed;
  left: 20px;
  top: 50px; /* how far from the top of the page the item should be pinned */
}

/* --------------------------------------------------------------SHOP PAGE */

.containershop {
  justify-content: center;
  font-family: "Black Heart";
  font-size: 60px;
  color: yellowgreen;
  text-shadow: 5px 5px 5px black;
  display: flex;
  height: 60vh;
  width:100%;
  background-image: url("../img/6.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  background-position-y: 30%;
}

.containershop h1 {
  padding-top: 150px;
}


.containershopmain {
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-content: space-between;
  color: black;  
  height: 1300px;
  width:100%;
  margin-top: 100px;
  list-style: none;
}


.products_box {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  width: calc( 100% - 200px );
  text-align: center;
  margin-top: 40px;
  margin-left: 200px;
  margin-bottom: 10px;
}

.single_product {
  display: inline-block;
  margin-left: 20px;
  padding: 10px;
  float: left;
  -webkit-box-shadow: 0px 5px 1px 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
  box-shadow: 10px 10px 28px -8px rgba(0,0,0,0.15);
  margin-bottom: 20px;
  transition: all .2s ease-in-out;
}

.single_product:hover { transform: scale(1.1); 
}

.single_product a{
  text-decoration: none;
  color: black;
}

.shopping_cart {
  font-size: 12px;
  width: 200px;
  height: 20px;
  background-color: white;
  padding-top: 20px;
  margin-left: 200px;
}

/* ------------------------------------------------------DETAIL PAGE */




/* ------------------------------------------------------CUSTOMER LOGIN PAGE */

.containerlogin {
    justify-content: center;
    font-family: "Black Heart";
    font-size: 60px;
    color: lightskyblue;
    text-shadow: 5px 5px 5px black;
    display: flex;
    height: 60vh;
    width:100%;
    background-image: url("../img/2.jpg");
    background-position-y: 30%;
    background-repeat:no-repeat;
    background-size:cover;
  }

.containerlogin h1 {
  padding-top: 150px;
}

.loginForm {
  margin-top: 120px;
  height: 200px;
  -webkit-box-shadow: 0px 5px 1px 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
  box-shadow: 10px 10px 28px -8px rgba(0,0,0,0.15);
  margin-bottom: 20px;
  transition: all .2s ease-in-out;
}

.submitButton {
  border: none;
  background-color: inherit;
  padding: 14px 28px;
  font-size: 40px;
  cursor: pointer;
  display: inline-block;
  font-family: 'Black Spirit';
  opacity: 1 ;
}

/* On mouse-over */
.submitButton:hover {
  opacity: 0.5 ;
  -webkit-transform: rotate(-2deg);
}

/* ----------------------------------------------------------ADMIN PAGE INSERT PRODUCT */


.form-wrapper {
  display: flex;
  justify-content: center;
  display: flex;
  height: 1000px;
  width:100%;
  background: white;
}

.insertproduct {
  margin-top: 100px;
  width: 500px;
  height: 300px;
  background-color: #f8f8f8;
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 5px #333;
}


/* ---------------------------------------------------------------REGISTER PAGE */

.containerregister {
  display: flex;
  justify-content: center;
  font-family: "Black Heart";
  font-size: 60px;
  color: orange;
  text-shadow: 5px 5px 5px black;
  height: 60vh;
  width:100%;
  background-image: url("../img/7.jpg");
  background-size: 100%;
  background-position-y: 20%;
  background-position-x: 80%;

}

.containerregister h1 {
  padding-top: 150px;
}


.form-wrapper-register {
  display: flex;
  justify-content: center;
  height: 1000px;
  width:100%;
  background: white;
  padding-top: 100px;
  margin-top: 40px;
}

.form-wrapper-register2{
  display: flex;
  justify-content: center;
  height: 600px;
  width: 500px;
  padding-top: 20px;
  background: white;
  -webkit-box-shadow: 0px 5px 1px 1px rgba(0,0,0,0.15);
  -moz-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.15);
  box-shadow: 10px 10px 28px -8px rgba(0,0,0,0.15);

}

.submitButton2 {
    border: none;
    background-color: inherit;
    font-size: 40px;
    cursor: pointer;
    display: inline-block;
    font-family: 'Black Spirit';
    opacity: 1 ;
    padding-top: 100px;
    padding-left: 50px;
  }
  
  /* On mouse-over */
  .submitButton2:hover {
    opacity: 0.5 ;
    -webkit-transform: rotate(-2deg);
  }
  

/* --------------------------------------------------------------------CONTACT PAGE */


.containercontact {
  display: flex;
  justify-content: center;
  font-family: "Black Heart";
  font-size: 60px;
  color: yellowgreen;
  text-shadow: 5px 5px 5px black;
  height: 60vh;
  width:100%;
  background-image: url("../img/contact.jpg");
  background-size: 100%;
  background-position-y: 30%;
  background-position-x: 20%;

}

.containercontact h1 {
  padding-top: 150px;
}


/* --------------------------------------------------------------------CART PAGE */

.containercart {
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-content: space-between;
    color: black;  
    height: 2000px;
    width:100%;
    margin-top: 100px;
    list-style: none;
  }


/* ----------------------------------------------------------------------------FOOTER */

footer {
  display: flex;
  justify-content: center;
  overflow: hidden;
  background-color:  #f8f8f8;
  height: 500px;
  width: 100%;
  flex-direction: row;
}

.footertext {
  padding-top: 400px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 80px;
  top: 0; 
  width: 100%;
}

.footertext {
  font-size: 10px;
  display: flex;
}

.menufooter li {
  list-style-type: none;
  float: Left;
}

.menufooter li a {
  padding: 20px;
  font-family: 'Muli', sans-serif;
  text-decoration: none;
  color: black;
}

.menufooter2 li {
  list-style-type: none;
  float: Left;
}

.menufooter2 li a {
  padding: 20px;
  font-family: 'Muli', sans-serif;
  text-decoration: none;
  color: black;
}











  