body {
    font-family: "raleway";
    min-height: 2000px; 
    position: relative;
}
/* navbar */

.containerone {
    display: flex;
    opacity: 0.95;
    justify-content: center;
    overflow: hidden;
    background-color: white;
    height: 80px;
    position: fixed; 
    top: 0; 
    width: 100%;
}

.menu{
    padding-top: 12px;
    display: flex;
    flex-direction: row;
    align-content: center;
    align-content: space-between;
    list-style-type: none;
}

.menu li a {
  padding: 40px;
  font-family: "raleway";
  text-decoration: none;
  color: black;
}

.menu li a:hover {
  color: yellowgreen;
  text-decoration: none;
}

.formone {
  width: 200px;
  float: right;
  color: white;
  line-height: 70px;
}

/* landing page */

.containertwo {
  justify-content: center;
  font-family: "Black Heart";
  font-size: 60px;
  color: white;
  text-shadow: 5px 5px 5px black;
  display: flex;
  height: 60vh;
  width:100%;
  background-image: url("../img/6.jpg");
  background-position-y: 30%;
  background-repeat:no-repeat;
  background-size: cover;
}

.containertwo h1 {
  padding-top: 150px;
}

.containerthree {
  display: flex;
  justify-content: center;
  display: flex;
  height: 1000px;
  width:100%;
  background: white;
}


/* footer */

footer {
  height: 500px;
  background-color:  #f8f8f8;
}

.footertext {
  padding-top: 400px;
  text-align: center;
}

/* floating sidebar */

.link-container {
  position: fixed;
  top: 400px;
  height: 380px;
  left: 20px;
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 5px #333;
}

.link-container a {
  display: block;
  padding: 5px;
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.link-container a:hover {
  color: yellowgreen;
  text-decoration: none;
}

.sticky-links {
  position: fixed;
  left: 20px;
  top: 50px; /* how far from the top of the page the item should be pinned */
}

/* SHOP PAGE */

.containershop {
  justify-content: center;
  font-family: "Black Heart";
  font-size: 60px;
  color: yellow;
  text-shadow: 5px 5px 5px black;
  display: flex;
  height: 60vh;
  width:100%;
  background-image: url("../img/33.jpg");
  background-repeat:no-repeat;
  background-size:cover;
  background-position-y: 30%;
}

.containershop h1 {
  padding-top: 150px;
}






/* CUSTOMER LOGIN PAGE */

.containerlogin {
    justify-content: center;
    font-family: "Black Heart";
    font-size: 60px;
    color: lightskyblue;
    text-shadow: 5px 5px 5px black;
    display: flex;
    height: 60vh;
    width:100%;
    background-image: url("../img/2.jpg");
    background-position-y: 30%;
    background-repeat:no-repeat;
    background-size:cover;
  }

.containerlogin h1 {
  padding-top: 150px;
}





/* ADMIN PAGE INSERT PRODUCT */


.form-wrapper {
  display: flex;
  justify-content: center;
  display: flex;
  height: 1000px;
  width:100%;
  background: white;
}

.insertproduct {
  margin-top: 100px;
  width: 500px;
  height: 300px;
  background-color: #f8f8f8;
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 5px #333;
}


/* REGISTER PAGE */

.containerregister {
  display: flex;
  justify-content: center;
  font-family: "Black Heart";
  font-size: 60px;
  color: red;
  text-shadow: 5px 5px 5px black;
  height: 60vh;
  width:100%;
  background-image: url("../img/44.jpg");
  background-size: 100%;
  background-position-y: 30%;
  background-position-x: 80%;

}

.containerregister h1 {
  padding-top: 150px;
}


.form-wrapper-register {
  display: flex;
  justify-content: center;
  height: 1000px;
  width:100%;
  background: white;
  padding-top: 100px;
}


/* CONTACT PAGE */


.containercontact {
  display: flex;
  justify-content: center;
  font-family: "Black Heart";
  font-size: 60px;
  color: yellowgreen;
  text-shadow: 5px 5px 5px black;
  height: 60vh;
  width:100%;
  background-image: url("../img/contact.jpg");
  background-size: 100%;
  background-position-y: 30%;
  background-position-x: 20%;

}

.containercontact h1 {
  padding-top: 150px;
}















  